.loader{
    color: blue;
    display: flex;
    justify-content: center;
    
   
    margin: auto;
    position: absolute;
    top: 40px;
    left: 850px;
    
    z-index: 999;
    margin: auto;
   
}