.top{
    background-color: white;
    -webkit-box-shadow: -1px 11px 18px 3px rgba(0,0,0,0.06);
-moz-box-shadow: -1px 11px 18px 3px rgba(0,0,0,0.06);
box-shadow: -1px 11px 18px 3px rgba(0,0,0,0.06);
    border-radius: 15px;
    gap: 20px;
}


.headerQ{
    color: #2a2b2e;
    user-select: none;
     font-family: 'Quicksand', sans-serif;

}

.filter{
   font-size: 1.5rem;

}

.inputFilter{
     border: 1px solid rgb(179, 179, 179);
    font-size: 15px;
    width: 100%;
}
.AddQ{
    outline: none;
    border: none;
    background-color: #2B61EC;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 160px;
    font-size: 20px;
    font-weight: 500;
     font-family: 'Quicksand', sans-serif;
     margin-right: 15px;
}

.categoriesList{
    
}
.categories{
  border: none;
  font-size: 15px;
  margin-left: 10px;
  border-radius: 20px ;
  background-color: #d6d6d6;
  cursor: pointer;
  margin-bottom: 20px;
  color: #2a2b2e;
}

.modalForm{
 
    display: flex;
    flex-direction: column;
   
}

label{  
    padding-left: 5px;
    font-size: 18px;
    color: black;
   padding-bottom: 5px;
}

.modal-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

select{

    border-radius: 20px;
    height: 40px;
}


option{
    border-radius: 20px;
}


.labelT{
      font-family: 'Quicksand', sans-serif;
      font-weight: 400;
}

@media (max-width: 575.98px) {
  
    .headerQ{
        font-size: 25px;
    }
    .AddQ{
        width: 100px;
        font-size: 12px;
    }
    .filter{
        font-size: 15px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    /* CSS styles to be applied */


}

/* Medium Devices (768px - 991px) */
@media (min-width: 768px) and (max-width: 999.98px) {
    /* CSS styles to be applied */

}

/* Large Devices (992px - 1199px) */
@media (min-width: 1000px) and (max-width: 1199.98px) {
    /* CSS styles to be applied */

}

@media (max-width:1200px) {}

/* Extra Large Devices (1200px and higher) */
@media (min-width: 1200px) {
    /* CSS styles to be applied */

}