@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto&display=swap');

.errorCont{

    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    
}

#error__content{
    color: rgb(203, 81, 81);
}