.Page{
    user-select: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    scroll-behavior: smooth;
   
}

#form__cont{
    position: relative;
    height: 100vh;

    flex-basis: 60%;
    margin: 0;
    display: flex;
   padding-left: 70px;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(34, 158, 246);
}
#right__cont{
    
    position: relative;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
}

img{
    height: 400px;
}
#welcome{
    color: white;
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 1.4em;
 
   
}

#welcome__Cont{
    display: flex;
    
    align-items: center;
}


#form__wrapper{
   
    display: flex;
  gap :10px;
  margin-right: 40px;
    flex-direction: column;
}
#info__{
    font-family: var(--sub-font);
    color: rgb(249, 249, 249);
    font-size: .9em;
    margin-bottom: 20px;
}


#follow__links{
    color: rgb(76, 76, 76);
}

#social_ICONSLogin{
    position: absolute;
    bottom: 2vw;
    right: 2vw;

}
#svg__waves{
 
    position: absolute;
    bottom:-2px;
    visibility: hidden;
}

#svg__Cont{
    position: absolute;
    right: -80vw;

 

    
    transform: rotate(90deg);
}
/* Extra Small (XS) - Mobile Devices */
@media (max-width: 575px) {
    /* Your CSS rules for XS screens go here */
   .Page{
    flex-direction: column-reverse;

    height: fit-content !important;

   }
   img{
    height: 200px;
   
}
#right__cont{
   
    padding-top: 10vh;

    flex-basis: 50% !important;
}
#form__cont{
    padding-top: 40px;
    padding-bottom: 40px;
    flex-basis: 50% !important;
}
#social_ICONSLogin{
    visibility: hidden;
}
#svg__waves{
    visibility: visible;
}
#welcome{
    font-size: 1.2em;
}
#info__{
    font-size: .89em;
    
    width: 300px;
}
#form__cont{
    padding-left: 7vw;
}

#svg__Cont{
    visibility: hidden;
}
}

/* Small (SM) - Larger Mobile Devices and Small Tablets */
@media (min-width: 576px) and (max-width: 767px) {
    /* Your CSS rules for SM screens go here */
    .Page{
        flex-direction: column-reverse;
    
        height: fit-content !important;
    
       }
       img{
        height: 300px;
       
    }
    #right__cont{
       
        padding-top: 10vh;
        border: 1px solid red;
        padding-bottom: 10vh;
        flex-basis: 60% !important;
    }
    #form__cont{
        padding-top: 40px;
        padding-bottom: 40px;
        flex-basis: 50% !important;
    }
    #social_ICONSLogin{
        visibility: hidden;
    }
    #svg__waves{
        visibility: visible;
    }
    #welcome{
        font-size: 1.4em;
    }
    #info__{
        font-size: 1em;
        
        width: 300px;
    }
    #form__cont{
        padding-left: 7vw;
    }
    
    #svg__Cont{
        visibility: hidden;
    }
}

/* Medium (MD) - Tablets and Small Laptops */
@media (min-width: 768px) and (max-width: 991px) {
    /* Your CSS rules for MD screens go here */
    #svg__Cont{
        visibility: hidden;
    }
}

/* Large (LG) - Standard Laptops and Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    /* Your CSS rules for LG screens go here */
}

/* Extra Large (XL) - Large Desktops and Beyond */
@media (min-width: 1200px) {
    /* Your CSS rules for XL screens go here */
}
