.QuestionList {
    user-select: none;

    background-color: transparent;
}

.QuestionCont {
    background-color: white;
    -webkit-box-shadow: -1px 11px 18px 3px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: -1px 11px 18px 3px rgba(0, 0, 0, 0.06);
    box-shadow: -1px 11px 18px 3px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 15px;
}

.Btnb {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    cursor: none;
    border: none;
    border-radius: 10px;
}

.Question {
    font-family: 'Quicksand', sans-serif;
    color: rgb(44, 44, 44);
}

.catBtn {
    background-color:#2B61EC;
    color: white;

}

.crtBtn {
    color: rgb(95, 95, 95);
    letter-spacing: 1px;
    font-weight: bold;
}

.copyBtn {
    color: rgb(0, 0, 0);
}

.copyBtn:hover {
    background-color: rgb(37, 209, 37);
    color: white;
    transition: .5s ease;

}