#mainNav{
  
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 60px;
    justify-content: space-between;
}


.user{
    flex: 10%;
    border: 1px solid rgb(190, 190, 190);
    border-right:none !important ;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
    gap: 20px;
}
#userName{
    font-family: var(--open-font);
    color: rgb(47, 47, 47);
    letter-spacing: .7px;
    margin-bottom: 0rem !important;
}
.utilities{
    border: 1px solid rgb(190, 190, 190);
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 80%;
    padding-right: 10px;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#btnCont{
    max-width: 800px;

    display: flex;
    height: 40px;
    width: 300px;
    justify-content: space-evenly;

}

#search{
    color:  rgb(34, 158, 246);
    
    font-family: var(--open-font);
    padding-inline: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 15px;
    border-radius: 8px;
    outline: none;
    margin-left: 20px;
    border: 1px solid rgb(34, 158, 246);
}

.click{
    border:2px solid  rgb(34, 158, 246)!important;
}

.burger span
{
    cursor: pointer;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: rgb(34, 158, 246);
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;

}
/* mobile view */
#mainNavMobileView{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.utilitiesM{
    display: flex;

    width: 250px !important;
    justify-content: space-between;

}
#search1{
    color:  rgb(34, 158, 246);
    
    font-family: var(--open-font);
    padding-inline: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 15px;
    border-radius: 8px;
    outline: none;
    width: 150px;
    border: 1px solid rgb(34, 158, 246);
}
#mainNavMobileView{
    position: absolute;
    visibility: hidden;
}
@media (max-width: 575px) {
 #mainNav{
    position: absolute;
    visibility: hidden;
 }
 #mainNavMobileView{
    position: relative;
    visibility: visible;
}
}