#authRoutes__cont{
    z-index: 5;
    display: flex;
    width: fit-content;
    gap: 30px;
    position: fixed;
    right: 40px;
    top: 40px;
}

@media (max-width: 575px) {
    /* Your CSS rules for XS screens go here */
    #authRoutes__cont{
        right: 2vw;
        top: 2vh;
    }
  
}

/* Small (SM) - Larger Mobile Devices and Small Tablets */
@media (min-width: 576px) and (max-width: 767px) {
    /* Your CSS rules for SM screens go here */
}

/* Medium (MD) - Tablets and Small Laptops */
@media (min-width: 768px) and (max-width: 991px) {
    /* Your CSS rules for MD screens go here */
}

/* Large (LG) - Standard Laptops and Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    /* Your CSS rules for LG screens go here */
}

/* Extra Large (XL) - Large Desktops and Beyond */
@media (min-width: 1200px) {
    /* Your CSS rules for XL screens go here */
}