@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto&family=Source+Sans+Pro&display=swap');
.logo{
    height: 100px;
   
    cursor: pointer;
}
.navbar{
   
    background-color: transparent;
}

#navbarSupportedContent {
  width: 20%; /* set the width to 80% of the parent container */
 
}


.navbar-collapse{
    flex-grow: 0;

   
}

.NavBtn{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #315fd4;
    cursor: pointer;
    position: relative;
}

.NavBtn:before{
    position: absolute;
    bottom: 0;
    content: '';
    width: 0px;
    height: 2px;
    background-color: #315fd4;
    
    transition: width 0.3s ease-in-out;
}

.NavBtn:hover:before {
    width: 99%;
  }


  .userP{
   
    display: flex;
    width: fit-content;
    align-items: center;
  }

.LoggedAs{
    outline: none;
    border: none;
    background-color: #2B61EC;
    color: white;
    border-radius: 20px;
    height: 30px;
     font-family: 'Quicksand', sans-serif;
     margin-right: 15px;
}

.user{
    color:#2B61EC ;
    font-size: 25px;
    

}

.NavLogouts{
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
    text-decoration: underline;
}