.QuestionList {
    user-select: none;

    background-color: transparent;
}

.QuestionCont {
    background-color: white;
    -webkit-box-shadow: -1px 11px 18px 3px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: -1px 11px 18px 3px rgba(0, 0, 0, 0.06);
    box-shadow: -1px 11px 18px 3px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap ;
    gap: 10px;
}

.Btnb {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    cursor: none;
    border: none;
    border-radius: 10px;
}

.Question {
    font-family: 'Quicksand', sans-serif;
    margin-block-end: 0px !important;
    color: rgb(44, 44, 44);
}

.catBtn {
    background-color: #2B61EC;
    color: white;

}

.crtBtn {
    color: rgb(95, 95, 95);
    letter-spacing: 1px;
    font-weight: bold;
}

.copyBtn {
    color: rgb(0, 0, 0);
}

.copyBtn:hover {
    background-color: rgb(37, 209, 37);
    color: white;
    transition: .5s ease;

}

.remarks {
    padding: 5px 5px 5px 5px;
    display: flex;
    cursor: pointer;
    width: 150px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 16px;
    background-color: rgb(234, 234, 234);
    font-family: var(--main-font);
    font-weight: 500;
    border: 2px solid transparent;

}

.remarks:hover {
    border: 2px solid rgb(234, 234, 234);
    background-color: transparent;
    scale: 1.1;
    transition: .5s ease;
}

#remarks__btnCont {
    display: flex;

    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-direction: row-reverse;
}

#remarks__cont {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    gap: 10px;
    padding: 10px 10px 10px 10px;
}


.remarks__btn {
    padding: 3px 0px 3px 0px;
    display: flex;
    cursor: pointer;
    width: fit-content;
    padding-inline: 20px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 16px;
    background-color: rgb(234, 234, 234);
    font-family: var(--main-font);
    font-weight: 500;
}

.add {
    background-color: var(--main-color);
    color: white;
}

.close {
    color: white;
    background-color: var(--red);
}

#header__top {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.likes {
    cursor: pointer;
    display: flex;
    gap: 5px;
    font-family: var(--main-font);
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    align-items: center;

}

.likes:hover {
    scale: 1.3;
    transition: .5s ease;
}

#remarks__input {
    height: 40px;
    padding-inline: 10px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    font-family: var(--main-font);
}

#remarks__input:focus {
    outline: none;
    /* Removes the default outline or border */
}


#error__top {
    display: flex;
    justify-content: flex-start;
    gap: 7px;
    color: var(--red);
    align-items: center;
}

.added {
    background-color: green !important;
}

ion-icon {
    margin-right: 5px;
}

#show__remarksBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: fit-content;
    background-color: rgb(231, 231, 231);
    border-radius: 16px;
    padding-inline: 5px;
    cursor: pointer;
}
#remarks_show{
    margin-bottom: 0rem !important;
}

#remark__user{

    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-bottom: 7px;
    margin-left: 12px;
    font-family: var(--main-font);
 

}
#remark__user::before{
    content: '';
    background-color: rgb(231, 231, 231);
    border-radius: 12px;
    position: relative;
    margin-right: 20px;
    height: 40px;
    width: 10px;

}

