#form{

    margin:0;
    padding: 0;
}
.form-group{
    display: flex;
    flex-direction: column;
}

.label__form{
    color: white;
    font-family: var(--sub-font);

    font-weight: 600;
    margin-bottom: 8px;
}

.input__form{
    outline: none;
    border: 1px solid #ccc !important;
    width: 300px;
    padding: 5px 10px;
    font-family: var(--sub-font);
    color: rgb(66, 66, 66);
    border-radius: 8px;
    margin-bottom: 20px;

}
.input_form:focus{
    border-color:red;
    
}

.formBtn{
   margin-top: 20px;
   cursor: pointer;
   
    width: fit-content;
    padding: 4px 40px;
    color: rgb(34, 158, 246);
    border: none;
    font-family: var(--sub-font);
    outline: none;
    background-color: white;
    border-radius: 12px;
}




.usernameForm__cont{
    
    display: flex;
    flex-direction: row !important;
    gap: 30px;
}
.usernameField{
    width: 250px !important;
}
.user__group{
    display: flex;
    flex-direction: column;
    
}

@media (max-width: 575px) {
    .label__form{
        font-weight: 500;
    }
    .input__form{
        width: 240px;
        padding: 2px 9px;
    }.formBtn{
        padding: 2px 20px;
    }
    .usernameForm__cont{
        gap: 0px;
    flex-direction: column !important;
    }
}

/* Small (SM) - Larger Mobile Devices and Small Tablets */
@media (min-width: 576px) and (max-width: 767px) {
    /* Your CSS rules for SM screens go here */
}

/* Medium (MD) - Tablets and Small Laptops */
@media (min-width: 768px) and (max-width: 991px) {
    /* Your CSS rules for MD screens go here */
}

/* Large (LG) - Standard Laptops and Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    /* Your CSS rules for LG screens go here */
}

/* Extra Large (XL) - Large Desktops and Beyond */
@media (min-width: 1200px) {
    /* Your CSS rules for XL screens go here */
}
